.message {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.message--sender {
  color: #fff;
  background-color: #3366cc;
}

.message--recipient {
  border-color: #808080;
  color: #000;
  background-color: #f0f0f0;
}

.message__time {
  font-size: 0.75rem;
}

.message--sender .message__time {
  color: #a0a0a0;
}

.message--recipient .message__time {
  color: #808080;
}
